
.header-holder{
    display: flex; 
    justify-content: center;
    top: 0;
    z-index: 1;
    position: fixed;  
    right: 0;
    height: 6vh;
    width: 100%;

    &:hover{
        & > .header-top{
            visibility: hidden;
        }

        & > .header-bottom{
            transition: transform 0.7s;
            visibility: visible;
            transform: translateY(5px);
        }
    }

   & > .header-top{
        display: flex;
        align-items: center;
        justify-content:center;
        font-size: 20px;
        color: yellow;
        width: 70%;
        z-index: 3;
        position: absolute;
        top: 0;
        height: 4vh;
        background-color: rgba(148, 145, 147, 0.3);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: 2px 5px 10px rgba(87, 81, 81, 0.6);

        & > .fa-grip-lines{
            display: flex;
            margin-top: 10px;
        }
    }

    & > .header-bottom {
        display: inline-flex;  
        position: fixed;
        align-items: center;
        justify-content: center;
        height: 16vh;
        width: 100%;
        border-radius: 10px;
        visibility: hidden;
        z-index: 1;
        background-color: yellow;
        color: black;
    
                & > .button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 2rem;
                    flex-direction: row;
                    margin-left: 3px;

                    & > a {
                        text-decoration: none;

                        & > button{
                            padding: 6px 15px;
                            display: flex;
                            border-radius: 30px;
                            border: none;
                            position: relative;
                            background-color: skyblue;
                            color: white;
                            font-family: "Playwrite DE VA", cursive;
                            font-size: 12px;
                            box-shadow: 2px 4px 10px rgb(100, 99, 99);
                            font-weight: 600;
                            align-items: center;
                            justify-content: center;
                            gap: 3px;

                            &:hover{
                                transform: scale(1.2);
                                background-color: yellow;
                            }
                }
            }
            }
        }

}

.hero5{
    display: flex;
    flex-direction: column;
    height: 120vh;
    background-image: url(../img/spongebob-water-background-9qyre.webp);
    background-position: center;
    background-size: cover;

    & > .container1{    
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        height: 40vh;

        & > img{
            height: 30vh;
            width: 30%;
            animation: scale 3s infinite;
        }
    }

    & > .container2{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50vh;
        gap: 3rem;
        justify-content: center;
        align-items: center;

        & > .side{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            height: 45vh;
            width: 14rem;
            padding-left: 12px;
            padding-right: 12px;
            padding-top: 10px;
            flex-direction: column;
            color: white;
            box-shadow: 12px 15px 15px rgb(51, 167, 196);

            & > .image{
                display: flex;
                align-items:end;
                justify-content: center;
                background-color: saddlebrown;
                height: 70%;
                width: 90%;

                & > img{
                    height: 37vh;
                }

            }

        }

        & > .middle{
            display: flex;
            justify-content: center;
            background-color: black;
            height: 60vh;
            width: 17rem;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 10px;
            align-items: center;
            flex-direction: column;
            color: white;
            box-shadow: 12px 15px 15px rgb(51, 167, 196);


            & > .image-m{
                display: flex;
                align-items:end;
                justify-content: center;
                background-color: saddlebrown;
                height: 70%;
                width: 90%;

                & > img{
                    height: 37vh;
                }

            }

        }
        
    }

    & > .container3{
        display: flex;
        flex-direction: column ;
        width: 100%;
        height: 30vh;
        justify-content: center;
        align-items: center;
        
        & > p{
            margin-top: 5%;

        }

        & > .social{
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
        gap: 2rem;
        font-size: 20px;

        }
    }
}

@keyframes scale {
    0%{

    }
    50%{
        transform:scale(1.2)
    }
    
}