
body{
    height: 120vh;
}

.hero2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    gap: 1rem;
    background: radial-gradient(circle, rgb(25, 25, 26) 0%, rgb(2, 15, 37) 100%);

}

.container1{
    display: flex;
    align-items:start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-left: 20px;
    gap: 20px;
    color: rgb(161, 159, 159);
    
    & > h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        letter-spacing: 2px;
        font-weight: 900;
        color: rgb(169, 218, 238);
        margin-bottom: 0;
    }
    & > i {
        font-family: "Playwrite DE VA", cursive;
        margin-top: 0;
    }

    & > button {
        display: flex;
        justify-content: center;
        padding: 7px 7px;
        font-size: 14px;
        border: none;
        font-family: "Playwrite DE VA", cursive;
        background-color: pink;
        border-radius: 7px;

    }

    & > .social{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 20px;
    }

}

.container2{
    display: flex;
    height: 100vh;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.carousel-item{
   
    & > h1{
        display:flex;   
        justify-content: center; 
        color: white;
        z-index: 1;
        font-weight: 900;
        font-size: 2rem;
        font-family: "Titan One", sans-serif;


    }

}
